.hompage{
    width: 90%;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
   margin-top: 20%;
  
  
}

.left{
    width: 45%;
}
.right{
    width: 45%;
}
.right img{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .hompage{
        flex-direction: column;
    }
  }